<div class="container">
    <div class="container  ">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <form [formGroup]="formlogin"  >
                    <div class="my-5">
                        <h2 class="text-center">login</h2>
                    </div>
                    <div class="row">
                        <!------email------>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input [class.is-invalid]="validacion('email')"  type="text" class="form-control" id="email" placeholder="email" formControlName="email">
                                    <label for="email">Email</label>
                                </div>
                                <div class="py-2" *ngIf="validacion('email')">
                                    <p class="text-danger pb-0  mb-0">el email es invalido</p>
                                </div>
                            </div>

                        </div>
                        <!------contraseña------>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="password" [class.is-invalid]="validacion('password')" class="form-control" id="pass" placeholder="password" formControlName="password">
                                    <label for="pass">Constraseña</label>
                                </div>
                                <div class="py-2" *ngIf="validacion('password')">
                                    <p class="text-danger pb-0 mb-0">Mínimo 6 caracteres </p> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3 d-flex justify-content-center">
                        <button [disabled]="formlogin.invalid" class="btn btn-primary w-100" (click)="login()">Ingresar</button>
                    </div>
                    <p class="text-center fs-5">o</p>
                    <div class="mb-3 d-flex justify-content-center">
                        <button  class="btn btn-outline-dark  w-100" (click)="loginGoogle()"><img class="ps-5 img__google"   src="https://img.icons8.com/color/2x/google-logo.png"  alt=""> Ingresar con Google </button>
                    </div>
                  </form>
            </div>
        </div>
    </div>  
</div>
