<div class="container">
    <div class="container  ">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <form [formGroup]="formlogin" (submit)="login()" >
                    <div class="my-5">
                        <h2 class="text-center">login</h2>
                    </div>
                    <div class="row">
                        <!------email------>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="email" placeholder="email" formControlName="email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                        </div>
                        <!------contraseña------>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="pass" placeholder="password" formControlName="password">
                                    <label for="pass">Constraseña</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                        <button [disabled]="formlogin.invalid" class="btn btn-primary w-100">login</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>  
</div>
